<footer class="text-center text-white" style="background-color: rgb(0, 158, 77)">
    <div class="container">
      <hr class="my-5" />
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Learning is not attained by chance, it must be sought for with ardor and attended to with diligence.
            </p>
          </div>
        </div>
      </section>
  
      <div class="row text-center d-flex justify-content-center">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Contact us</a>
          </h6>
        </div>
      </div>
  
      <section class="text-center mb-5">
        <a href="https://www.facebook.com/profile.php?id=100010380032680" class="mr-1 text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="mr-1 text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.linkedin.com/in/abhishek-yadav-158232196/" class="mr-1 text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/FromBitToByte" class="mr-1 text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color:rgb(22, 23, 24)">
      <h6>Made with ❤️ by Abhishek Kumar Yadav</h6>
    </div>
  </footer>
  