<%- include('partials/header'); -%>

<body>
  <div class="main-container">
    <img class="mainBg" src="/images/mainBackground.jpg" alt="mainBg" />
  </div>
  <div class="container pt-5">
    <div class="container main-abt mt-5">
      <p class="mt-5">
        <span class="theme-home">Gurukul</span> , Education is power.
      </p>
    </div>
  </div>
  <div class="container mt-5">
  </div>
</body>

<%- include('partials/loginFooter'); -%>
